/* Fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9; /* Color de fondo general */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height:80%;
}

/* Header */
header {
    background: #20202080 url('./imagenes/header01.jpg') center/cover no-repeat; /* Imagen de fondo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.6%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 30px; /* Ajustar el padding */
    z-index: 999;
    height: 20%; /* Reducir la altura del header */
}

.logo-section{    
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  max-width: 250px;
}

.logo-section img {
  width: 198px;
  height: 127px;    
}

.logo-section p {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin:0px;
}

.logo-section a {
  height: 127px;
}

.title-header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 250px;
}

.custom-button img {
  position: absolute; /* Establecer la posición absoluta */
  top: 0; /* Colocar la imagen en la parte superior */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar horizontalmente */
  height: 65%;
  
}

.custom-button span {
  display: block; /* Convertir el span en un bloque para ocupar todo el ancho */
  text-align: center; /* Centrar el texto */
  padding-top: 80%; /* Ajustar el espacio superior */
  color: #000000;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFD100;
  color: #202020;
  padding: 30px;
  width: 97.6%; 
  margin: auto; 
}
.footer-logo{
  display: flex;
  align-content: center;
  vertical-align: middle;
}
.footer-logo img{
  height:80px;
}
.social{
  display: flex;
  margin-right: 50px;
  gap: 10px;
}
.social i{
  font-size: 40px;
  color: #202020;    
}

/* Contenedor de los botones */
.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio reducido entre los botones */
  max-width: 25%; /* Reducir el ancho del contenedor en un 30% */
  margin-top: 13%;
  margin-left: 40%;
  margin-bottom:13.2% ;
  margin-right:20% ;
}

.custom-button:hover {
  background-color: #333;
  color: #fff;
}

.custom-button {
  width: 150px;
  height: 170px;
  background-color: #413C233D;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  position: relative; /* Establecer la posición relativa */
}


/* Estilos generales del formulario */
.form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif; /* Aplicar la fuente Roboto */
  background-color: #fff; /* Color de fondo del formulario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-top: 345px;
  margin-bottom: 344px;
}

/* Estilos para los campos de entrada */
.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Asegura que el padding no incremente el tamaño total del campo */
}

/* Estilos para el botón */
.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Azul */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos para el botón al pasar el ratón */
.form button:hover {
  background-color: #0056b3; /* Azul oscuro */
}

/* Estilo para hacer el botón de ancho completo */
.full {
  width: 100%;
}

.error-message{
  color:red;
}

#mensaje-movil {
  display: none;
  background-color: #ffcccc;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 450px;
  margin-bottom: 450px;
}

@media only screen and (max-width: 600px) {
  .button-container {
      display: none;
  }

  #mensaje-movil {
      display: block;
  }
}