@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100vh;
}

/* ---------------header--------------- */
header {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./imagenes/header01.jpg);
  background-size: cover;
  background-position: center; /* Centra la imagen de fondo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 30px; /* Aumenta el espacio de relleno */
  z-index: 999;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Añade espacio entre el logo y el texto */
}

.logo-section img {
  width: 120px; /* Reduce el tamaño del logo para mayor elegancia */
}

.logo-section p {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 18px; /* Aumenta el tamaño del texto del encabezado */
  color: #fff; /* Cambia el color del texto para que sea más visible */
  cursor: pointer;
  margin: 0;
}

.btn-section {
  display: flex;
  align-items: center;
  gap: 15px; /* Aumenta el espacio entre los botones */
}

.btn-section button {
  font-family: 'Kanit', sans-serif;
  background-color: #ffd100;
  padding: 12px 20px; /* Ajusta el tamaño de los botones */
  color: #333533;
  border: none;
  border-radius: 25px; /* Aumenta el radio de borde para un aspecto más suave */
  cursor: pointer;
  font-size: 16px; /* Reduce el tamaño de la fuente */
  transition: background-color 0.3s ease; /* Añade una transición suave al color de fondo */
}

.btn-section button:hover {
  background-color: #f7c200; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el navbar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

nav ul li a:hover {
  color: #ffd100; /* Cambia el color al pasar el mouse */
}

/* header */

/* Listado de productos  */

main {
  padding-top: 190px;
}
/* -------------------BUSCADOR------------------ */
.content-buscador {
  position: relative;
}

.buscador {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buscador h2 {
  font-size: 1.5em; /* Tamaño del título */
  color: #333; /* Color del texto */
  margin-bottom: 15px; /* Espaciado inferior del título */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.searchForm {
  font-family: 'Prompt', sans-serif;
  display: flex; /* Utiliza un modelo de caja flexible para alinear elementos */
  justify-content: center; /* Centra el formulario horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

#searchInput {
  width: 300px;
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde del campo de entrada */
  border-radius: 10px; /* Bordes redondeados */
  margin-right: 10px; /* Espaciado derecho entre el campo de entrada y el botón */
  color: #333;
  background-color: #f8f8f8;
}

.icon {
  padding: 10px 15px; /* Espaciado interno del botón */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background-color: #ffd100;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.icon:hover {
  background-color: #f3c500; /* Cambia el color de fondo al pasar sobre el botón */
}

.icon img {
  width: 20px;
}

/* BUSCADOR */
/* -----------------CATEGORIA---------------- */

.category .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

/* ----------------card------------------ */
.card1, .card2, .card3, .card4 {
  background-size: cover;
  border-radius: 8px;
  width: calc(25% - 20px); /* Calcula el ancho para que entren 4 tarjetas */
  flex-grow: 1; /* Permite que las tarjetas ocupen todo el espacio disponible */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 10px;
  height: 400px;
  position: relative; /* Añade posición relativa para los hijos absolutos */
}

.card1 {
  background-image: url('./imagenes/maquinariapesada.jpg');
}

.card2 {
  background-image: url('./imagenes/herramientapequeña.jpg');
}

.card3 {
  background-image: url('./imagenes/indumentaria.jpg');
}

.card4 {
  background-image: url('./imagenes/equipoconstruccion.jpg');
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
}

.text {
  position: absolute; /* Posición absoluta para centrar */
  top: 50%; /* Alinea el texto en el centro verticalmente */
  left: 50%; /* Alinea el texto en el centro horizontalmente */
  width: 100%;
  transform: translate(-50%, -50%); /* Centra el texto */
  background: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente */
  padding: 10px; /* Espaciado interior */
  border-radius: 5px; /* Bordes redondeados */
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center; /* Alineación centrada del texto */
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Transición suave de opacidad */
}

.card1:hover .text, .card2:hover .text, .card3:hover .text, .card4:hover .text {
  opacity: 1; /* Muestra el texto al pasar el mouse */
}

.text a {
  text-decoration: none;
  color: #202020;
}

.card img {
  width: 50px; /* Ajusta el tamaño de las imágenes */
}

/* ----------------card------------------ */
/* CATEGORIA */

/* --------------RECOMENDACIONES------------- */
/* Estilos para la sección de recomendaciones */
.recomendaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px; /* Añadimos espacio alrededor de la sección */
}

/* Estilos para el título de la sección de recomendaciones */
.title-recomend {
  font-family: 'Oswald', sans-serif;
  color: #202020;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para los contenedores de las tarjetas de recomendación */
.content-recoment-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cinco columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  max-width: 1200px; /* Ancho máximo para evitar que las tarjetas se expandan demasiado */
  margin: 0 auto; /* Centramos horizontalmente */
}

/* Estilos para las tarjetas de recomendación */
.recoment-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.recoment-card:hover {
  transform: translateY(-5px); /* Elevamos ligeramente la tarjeta al pasar el cursor */
}

.recoment-card .img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.recoment-card h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 15px 0; /* Aumentamos el espacio alrededor del título */
}

/* Estilos para el botón "Ver más" */
.btn-ver {
  display: block;
  background-color: #ffd100;
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 0 auto; /* Centramos horizontalmente */
}

.btn-ver:hover {
  background-color: #ffec80; /* Cambiamos el color de fondo al pasar el cursor */
}

/*---------------FOOTER--------------- */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffd100;
  color: #202020;
  padding: 30px;
  width: 100%;
  margin: auto;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: 80px;
}

.social {
  display: flex;
  margin-right: 50px;
  gap: 10px;
}

.social i {
  font-size: 40px;
  color: #202020;
}
/* Tu CSS base aquí */

/* Media query para dispositivos con una pantalla de hasta 600px de ancho (celulares) */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }
  .logo-section {
    max-width: 100px;
  }
  .logo-section img {
    width: 80px;
  }
  .btn-section button {
    font-size: 12px; /* Reducir el tamaño del texto del botón */
    padding: 8px 12px; /* Reducir el espacio alrededor del texto */
  }
  nav ul li {
    margin-right: 10px;
  }
  .category .cards {
    margin: 20px auto;
    flex-direction: column;
  }
  .card1, .card2, .card3, .card4 {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .recomendaciones {
    padding: 20px 10px;
  }
  .content-recoment-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Agregar espacio entre las tarjetas */
  }
  .recoment-card {
    height: auto; /* Ajustar automáticamente la altura de las tarjetas */
  }
  .btn-ver {
    padding: 8px 12px; /* Reducir el espacio alrededor del texto del botón */
  }
  .social i {
    font-size: 30px;
  }
}



/* Media query para dispositivos con una pantalla entre 601px y 992px de ancho (tabletas) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  header {
    padding: 15px 20px;
  }
  .logo-section {
    max-width: 120px;
  }
  .logo-section img {
    width: 100px;
  }
  .btn-section button {
    font-size: 14px;
    padding: 10px 18px;
  }
  .category .cards {
    margin: 15px auto;
  }
  .card1, .card2, .card3, .card4 {
    width: calc(33.33% - 20px);
  }
  .recomendaciones {
    padding: 40px 20px;
  }
}

/* Media query para dispositivos con una pantalla entre 993px y 1200px de ancho (iPad Pro) */
/* Media query para dispositivos con una pantalla entre 601px y 992px de ancho (iPad) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  header {
    padding: 15px 20px;
  }
  .logo-section {
    max-width: 120px;
  }
  .logo-section img {
    width: 100px;
  }
  .btn-section button {
    font-size: 14px;
    padding: 10px 18px;
  }
  .category .cards {
    margin: 20px auto;
    flex-direction: row; /* Cambiar la dirección del flexbox para mostrar las tarjetas en una fila */
  }
  .card1, .card2, .card3, .card4 {
    width: calc(25% - 20px);
    margin-bottom: 0; /* Eliminar el margen inferior para evitar espacio adicional entre las tarjetas */
  }
  .recomendaciones {
    padding: 40px 20px;
  }
}


/* Media query para dispositivos con una pantalla de más de 1200px de ancho (escritorio grande) */
@media only screen and (min-width: 1201px) {
  header {
    padding: 20px 30px;
  }
  .logo-section {
    max-width: 200px;
  }
  .logo-section img {
    width: 150px;
  }
  .btn-section button {
    font-size: 20px;
    padding: 12px 20px;
  }
  .category .cards {
    margin: 30px auto;
  }
  .card1, .card2, .card3, .card4 {
    width: calc(25% - 20px);
  }
  .recomendaciones {
    padding: 60px 40px;
  }
}

/* Resto de tus estilos y media queries */


/* --------------------------RESPONSIVE------------------------ */
