* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
}

.headerDetail {
  margin-bottom: 20px;
}

/* Calendario */
#btnFecha {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffd100;;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  margin-left: 1000px;
}

#btnFecha:hover {
  background-color: goldenrod;
}

.flatpickr-calendar {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flatpickr-days {
  padding: 10px;
}

.flatpickr-monthDropdown-months,
.flatpickr-yearDropdown-years,
.flatpickr-hour,
.flatpickr-minute {
  padding: 5px;
}

.flatpickr-day {
  padding: 8px;
}

.flatpickr-day.today {
  background-color: #f0f0f0;
}

.flatpickr-day.selected {
  background-color: #007bff;
  color: #fff;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  padding: 5px;
  background-color: #f0f0f0;
  border: none;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Rating */
.rating{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 30px 40px;
  /* border: 3px solid #111; */
  gap: 4px;
  border-radius: 30px;
}

.rating input{
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rating input::before{
  content: '\f005';
  position: absolute;
  font-family: fontawesome;
  font-size: 12px;
  color: #111;
  transition: .5s;
}

.rating input:hover ~ input::before,
.rating input:hover::before, .rating input:checked ~ input::before,
.rating input:checked::before{
  color: var(--c);
}

/* Calendario */
.calendar{
  width: 350px;
  background-color: #fff;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  box-shadow: 0 10px 29px -7px rgba(63,63,63,0.48);
  margin-bottom: 50px;
}

.calendar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-header button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.calendar-body{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}

.calendar-day{
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.calendar-day:hover{
  background-color: #ddd !important;
  transition: background-color 0.3s ease;
}

.calendar-day.selected{
  border: 1px solid #003879d0;
  background-color: rgba(70,201,240);
}

.calendar-day.range{
  border: 1px solid #007900d0;
  background-color: rgba(86,238,86);
}

#prevBtn, #nextBtn{
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
  background-color: #fff;
}

#prevBtn:hover{
  background-color: #ddd !important;
  transition: background-color 0.3s ease;
}

#nextBtn:hover{
  background-color: #ddd !important;
  transition: background-color 0.3s ease;
}

#selectedDates{
  font-family: 'Poppins';
  margin-bottom: 15px;
}

#currentMonth{
  font-family: 'Poppins';
  font-size: 18px;
}

/* Favoritos */

.menu-header {
	display: flex;
	gap: 35px;
	align-items: center;
}

.menu-header button {
	border: none;
	background: none;
	outline: none;
	width: 45px;
	height: 45px;
	color: #fff;
	font-size: 22px;
	position: relative;
	cursor: pointer;
  display: flex;
  justify-content: center;

}

.menu-header button:hover {
	transform: scale(1.05);
}

.counter-favorite,
.counter-cart {
	font-size: 10px;
	position: absolute;
	background-color: orange;
	color: #000;
	font-weight: 700;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	right: 0;
	border-radius: 50%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px 0;
	gap: 30px;
}

.card-product {
	display: flex;
	flex-direction: column;
	gap: 20px;
	cursor: pointer;
}

.content-card-product {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 25px;
}

.container-img {
	height: 200px;
	border-radius: 12px;
	overflow: hidden;
}

.container-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer-card-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
}

.price {
	font-weight: 700;
	font-size: 24px;
	color: #555;
  margin-right: 400px;
}

.container-buttons-card {
	display: flex;
	gap: 20px;
}

.container-buttons-card button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 15px #00000025;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
}

/* ********************************** */
/*         LISTA DE FAVORITOS         */
/* ********************************** */
.container-list-favorites {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(400px);
	background-color: #555;
	opacity: 0;
	width: 400px;
	height: 100vh;
	transition: all 0.5s linear;
}

.container-list-favorites.show {
	opacity: 1;
	transform: translateX(0);
}

.header-favorite {
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-favorite i {
	cursor: pointer;
}

.list-favorites {
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.list-favorites .card-favorite {
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 20px #00000065;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.card-favorite .title {
	color: #000;
	flex: 1;
}

.card-favorite p:last-child {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}

/* ------------------- */

#added-favorite {
	color: red;
	display: none;
}

#favorite-regular.active {
	background-color: red;
	display: none;
}

#added-favorite.active {
	display: block;
	color: red;
}


/* Fin Favoritos */

/* Estilos de la caja contenedora */
.card-container {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 50px; /* Aumentar el espaciado interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Agregar margen inferior para separar las tarjetas */
  max-width: 800px; /* Aumentar el ancho máximo */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 20px;
}
.back-arrow {
  width: 80%;
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.btn-reservar{
  display: block;
  font-family: 'Kanit', sans-serif;
  background-color: #ffd100;
  padding: 10px;
  color: #333533;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  box-shadow: inset 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/* Estilos adicionales para mejorar la apariencia del botón */
.btn-reservar:hover {
  background-color: goldenrod; /* Color de fondo del botón al pasar el ratón */
}

.back-arrow a {
  font-size: 30px; /* Reduciendo el tamaño de la flecha */
  color: black;
}

.back-arrow a:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

section {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no caben en una sola fila */
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Aumenta el espacio entre los elementos */
  height: auto; /* Establece una altura automática para adaptarse al contenido */
}
.div-imagen {
  position: relative; /* Añadimos posición relativa para posicionar el corazón */
  width: 300px; /* Reducir el tamaño de la imagen */
  height: 300px; /* Reducir el tamaño de la imagen */
  border-radius: 10px; /* Agregando bordes */
  overflow: hidden; /* Ocultando partes de la imagen que se desborden */
}

.div-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.div-imagen img:hover {
  transform: scale(1.05);
}

/* Estilos para el corazón */
.div-imagen .fa-heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
  font-size: 24px;
}


.div-texto {
  font-family: 'Inclusive Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  /* height: 200px; */
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffd100;
  border: 2px solid #ccc; /* Agregando bordes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregando sombra */
}

.container {
  flex: 1;
}

#caracteristicas {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: 75%;
  margin: 20px auto 50px; /* Agrega margen inferior para separarlo del footer */
  border: 2px solid #ccc; /* Agregando bordes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregando sombra */
}

#caracteristicas h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#caracteristicas ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

#caracteristicas li {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#caracteristicas li:nth-child(odd) {
  animation: fadeInLeft 0.5s ease-in-out forwards;
}

#caracteristicas li:nth-child(even) {
  animation: fadeInRight 0.5s ease-in-out forwards;
}

.icono {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-size: cover;
  display: inline-block;
}

.puntuacion{
  margin-right: 550px;

}
.BtnContenedor{
 margin-left: 1000px;
 margin-bottom: 20px;
}

.BtnCompartir{
  /* display: block; */
  font-family: 'Kanit', sans-serif;
  background-color: #ffd100;
  padding: 10px;
  color: #333533;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  box-shadow: inset 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
}

.BtnCompartir:hover {
  background-color: goldenrod; /* Color de fondo del botón al pasar el ratón */
}

.fa-share-alt{
  margin-left: 10px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
    padding: 10px;
  }
  section{
    align-content: center;

  }

  .puntuacion{
    margin-right: 130px;
  }
  .btn-reservar{
    margin-bottom: 20px;
  }
  .BtnContenedor{
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .div-imagen {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 50px;
    position: relative;
  }


  .card-container {
    max-width: 350px;
  }
  .div-texto {
    width: 280px; /* Ajustar el ancho del texto al 100% para ocupar todo el ancho */
    height: auto; /* Permitir que la altura del texto se ajuste automáticamente */
    margin-left: -40px;
  }

  #caracteristicas {
    width: 90%; /* Ajustar el ancho de las características al 100% para ocupar todo el ancho */
    margin-bottom: 20px; /* Agregar margen inferior para separar las características del footer */
  }

  #caracteristicas ul {
    grid-template-columns: 1fr; /* Cambiar las características a una sola columna */
  }

  #caracteristicas li {
    opacity: 1; /* Mostrar todas las características */
    transform: translateY(0); /* Eliminar la transformación */
    margin-bottom: 10px; /* Agregar margen inferior para separar cada característica */
  }
}
