/* Estilos generales */
body {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(248, 247, 217, 0.554), rgba(166, 166, 160, 0.892)), url(../imagenes/fondo.jpeg) center/cover;
}

#contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#contenedorlogin,
#contenedorregistro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  max-width: 900px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  box-sizing: border-box;
  margin: auto;
  animation: fadeIn 1s ease;
}

/* Estilos para los formularios */
#login,
#registro {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  animation: slideIn 1s ease;
}

#registro {
  margin-right: 40px;
}

form {
  width: 100%;
}

label {
  display: block;
  font-size: 1.1em;
  color: #333;
  margin-top: 15px;
}

input {
  font-size: 1em;
  color: #555;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input::placeholder {
  color: #999;
}

button {
  font-size: 1em;
  color: #fff;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #ffd100;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ffcc00;
  transform: translateY(-2px);
}

/* Estilos para el pie del formulario */
.infoform {
  text-align: center;
  opacity: 0.7;
  padding: 20px;
  box-sizing: border-box;
}

.titulo {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.logo-empresa img {
  width: 100%;
  max-width: 200px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

.pie-form {
  font-size: 0.9em;
  text-align: center;
  margin-top: 15px;
}

.pie-form a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.pie-form a:hover {
  color: #ffd100;
  transform: translateY(-2px);
}

/* Ajustar a pantallas con ancho menor o igual a 775px */
@media (max-width: 775px) {
  #contenedorlogin,
  #contenedorregistro {
      flex-direction: column;
      width: 90%;
      max-width: none;
      margin: 0;
  }

  #login,
  #registro {
      width: calc(100% - 20px);
      max-width: none;
      margin-right: 0;
      margin-bottom: 20px;
  }

  input {
      width: 100%;
  }

  button {
      width: 100%;
  }
}

/* Animaciones */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-50px);
  }
  to {
      transform: translateX(0);
  }
}
