body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0;


    background-image: linear-gradient(rgba(248, 247, 217, 0.554), rgba(166, 166, 160, 0.892)), url(../imagenes/fondo.jpeg);
    background-position: center;
    background-size: cover;

}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

}

#contenedorlogin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    min-width: 380px;
    max-width: 900px;
    width: 80%;
    margin: auto;

    background-color: #d6d6d6;

    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    padding: 30px;
    box-sizing: border-box;

}

#contenedorregistro {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    min-width: 380px;
    max-width: 900px;
    width: 80%;
    margin: auto;

    background-color: #d6d6d6;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    padding: 30px;
    box-sizing: border-box;
}


#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    margin-right: 10px;
    background-color: #333533;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;

    opacity: 1;
    filter: alpha(opacity=1);
}

#registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    margin-right: 10px;
    background-color: #333533;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    opacity: 1;
    filter: alpha(opacity=1);
}

#registroform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#login label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color: #ffffff;

    margin-top: 15px;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#registro label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color: #ffffff;

    margin-top: 15px;
}

#registro input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#registro input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-shadow: inset 0 0 0 0 #d6d6d6;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;

    background-color: #ffd100;

    margin-top: 10px;
}

#login button:hover {
    color: #000000;
    transform: scale(1.10);
    box-shadow: inset 0 100px 0 0 #979682;
    cursor: pointer;
}

#registro button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #ffd100;

    margin-top: 10px;
}

#registro button:hover {
    background-color: #d6d6d6;
    color: #000000;
    transform: scale(1.10);
}

.infoform {
    text-align: center;
    width: 100%;

    opacity: 0.70;
    filter: alpha(opacity=70);

    padding: 20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-size: 300%;
    color: #000000;
}

.logo-empresa img {
    width: 60%;
}

hr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #899271;
    transform: scale(1.15);
}

/* ajustar a pantallas con ancho menor o igual a 775px; */
@media (max-width: 775px) {

    #contenedorlogin,
    #contenedorregistro {
        flex-direction: column;
        width: 100%;
        max-width: none;
        margin: 0 30px;
    }

    #login,
    #registro {
        width: 100%;
        max-width: none;
        padding: 20px;
    }

    #login input,
    #registro input {
        width: calc(100% - 20px);
        /* Resta el padding para que el ancho sea correcto */
    }

    #login button,
    #registro button {
        width: 100%;
    }
}