<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base_layout :: head"></head>
<body>
    <nav th:replace="~{layouts/base_layout :: nav}"></nav>
    <h1 class="text-center mt-3">Bienvenido Admin</h1>
    <a class="btn btn-primary" href="/administrador/guardar">Agregar producto</a>
    <span class="d-block mb-4"></span>

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <div th:each="producto, iterStat : ${productos}" th:if="${iterStat.index &lt; productos.size() / 2 or productos.size() % 2 == 1}" class="card mb-4" style="width: 20rem; height: 20rem;">
                        <img th:src="@{'/imagenes/' + ${producto.nombreImagen}}" class="card-img-top" alt="..." style="width: 19.9rem; height: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text=" ${producto.nombre}"></h5>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <div th:each="producto, iterStat : ${productos}" th:if="${iterStat.index &gt;= productos.size() / 2}" class="card mb-4" style="width: 20rem; height: 20rem;">
                        <img th:src="@{'/imagenes/' + ${producto.nombreImagen}}" class="card-img-top" alt="..."  style="width: 19.9rem; height: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title" th:text=" ${producto.nombre}"></h5>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>